html { 
    background: rgba(51, 50, 50, 0.87);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
table {
    border: 10px solid black;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
}
  
td {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background: white;
}
  
th {
    background-color: rgb(233, 91, 8);
    font-family: 'Lato', sans-serif;
    font-size: 13pt;
    color: white;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black; 
}

h1 {
    position: relative;
    text-align: center;
    font-size: 4em;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    color: rgb(233, 91, 8);
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255); 
}

p {
    position: relative;
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    margin: 15px;
    color: black;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255);
}

form {
    border: 10px solid black;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
}

legend {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    padding: 10px;
    color: white;
}

label {
    position: relative;
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 10px;
}

input {
    position: relative;
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    margin: 15px;
    color: black;
}

button {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    padding: 5px;
}