html { 
    background: url(outdoor-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    position: relative;
    text-align: center;
    font-size: 28pt;
    font-family: 'Bowlby One', cursive;
    padding: 10px;
    color: rgb(255, 0, 85);
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255); 
}

p {
    position: relative;
    font-size: 14pt;
    font-family: 'Amaranth', sans-serif;
    margin: 15px;
    color: black;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255);
}

img {
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
    padding: 5px;
    border: 4px solid black;
}

img.center {
    display: block;
    margin: 0 auto;
}